/* Styles for the home/ landing page */

body {
  margin: 0;
  padding: 0;
  background-color: #010618;
  color: #f5f6f6; 
  font-family: 'Edu SA Hand', 'Segoe UI', sans-serif;
}

main {
  padding: 2rem;
  text-align: center;
}

.main-body {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 500px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.item {
  background-color: #17202f;
  padding: 1.8rem;
  border-radius: 0.7rem;
  cursor: pointer;
  font-weight: bold;
}

h1 {
  font-size: 3.5rem;
  font-weight: bolder;
}

/* About Section */
.window {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 50%;
  background-color: #17202f;
  border: 1px solid #555;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.window-header {
  background-color: #111344;
  color: #f5f6f6;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.close-btn {
  background: none;
  border: none;
  color: #f5f6f6;
  font-size: 1rem;
  cursor: pointer;
}

.window-body {
  color: #f5f6f6;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.about-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #f5f6f6;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text h2 {
  margin: 0;
  font-size: 2rem;
  color: #f5f6f6;
}

.about-text p {
  margin: 0.25rem 0 0;
  font-size: 0.9rem;
  color: #ccc;
}

.about-divider {
  width: 90%;
  height: 1px;
  background-color: #444;
  margin: 0.5rem 0;
  border: none;
}