
body {
  margin: 0;
  padding: 0;
  background-color: #010618;
  color: #f5f6f6; 
  font-family: sans-serif;
}

main {
  padding: 2rem;
  text-align: center;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.item {
  background-color: #17202f;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}